<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>spendArray</key>
	<array>
		<dict>
			<key>IconName</key>
			<string>travel</string>
			<key>DisplayName</key>
			<string>旅行</string>
			<key>BGColor</key>
			<string>[UIColor colorWithRed:231/255.0f green:23/255.0f blue:23/255.0f alpha:1]</string>
		</dict>
		<dict>
			<key>IconName</key>
			<string>traffic</string>
			<key>DisplayName</key>
			<string>交通</string>
			<key>BGColor</key>
			<string>[UIColor colorWithRed:23/255.0f green:123/255.0f blue:231/255.0f alpha:1]</string>
		</dict>
		<dict>
			<key>IconName</key>
			<string>eat</string>
			<key>DisplayName</key>
			<string>吃饭</string>
			<key>BGColor</key>
			<string>[UIColor colorWithRed:222/255.0f green:231/255.0f blue:23/255.0f alpha:1]</string>
		</dict>
		<dict>
			<key>IconName</key>
			<string>shop</string>
			<key>DisplayName</key>
			<string>购物</string>
			<key>BGColor</key>
			<string>[UIColor colorWithRed:231/255.0f green:81/255.0f blue:23/255.0f alpha:1]</string>
		</dict>
		<dict>
			<key>IconName</key>
			<string>play</string>
			<key>DisplayName</key>
			<string>娱乐</string>
			<key>BGColor</key>
			<string>[UIColor colorWithRed:78/255.0f green:13/255.0f blue:165/255.0f alpha:1]</string>
		</dict>
		<dict>
			<key>IconName</key>
			<string>medical</string>
			<key>DisplayName</key>
			<string>药品</string>
			<key>BGColor</key>
			<string>[UIColor colorWithRed:150/255.0f green:23/255.0f blue:231/255.0f alpha:1]</string>
		</dict>
		<dict>
			<key>IconName</key>
			<string>rent</string>
			<key>DisplayName</key>
			<string>房租</string>
			<key>BGColor</key>
			<string>[UIColor colorWithRed:219/255.0f green:23/255.0f blue:231/255.0f alpha:1]</string>
		</dict>
		<dict>
			<key>IconName</key>
			<string>school</string>
			<key>DisplayName</key>
			<string>教育</string>
			<key>BGColor</key>
			<string>[UIColor colorWithRed:94/255.0f green:231/255.0f blue:23/255.0f alpha:1]</string>
		</dict>
		<dict>
			<key>IconName</key>
			<string>snack</string>
			<key>DisplayName</key>
			<string>零食</string>
			<key>BGColor</key>
			<string>[UIColor colorWithRed:236/255.0f green:134/255.0f blue:85/255.0f alpha:1]</string>
		</dict>
		<dict>
			<key>IconName</key>
			<string>taobao</string>
			<key>DisplayName</key>
			<string>网购</string>
			<key>BGColor</key>
			<string>[UIColor colorWithRed:156/255.0f green:32/255.0f blue:93/255.0f alpha:1]</string>
		</dict>
		<dict>
			<key>IconName</key>
			<string>clothes</string>
			<key>DisplayName</key>
			<string>衣服</string>
			<key>BGColor</key>
			<string>[UIColor colorWithRed:113/255.0f green:23/255.0f blue:231/255.0f alpha:1]</string>
		</dict>
		<dict>
			<key>IconName</key>
			<string>fruit</string>
			<key>DisplayName</key>
			<string>水果</string>
			<key>BGColor</key>
			<string>[UIColor colorWithRed:60/255.0f green:150/255.0f blue:236/255.0f alpha:1]</string>
		</dict>
		<dict>
			<key>IconName</key>
			<string>utilities</string>
			<key>DisplayName</key>
			<string>水电费</string>
			<key>BGColor</key>
			<string>[UIColor colorWithRed:231/255.0f green:108/255.0f blue:23/255.0f alpha:1]</string>
		</dict>
		<dict>
			<key>IconName</key>
			<string>daily</string>
			<key>DisplayName</key>
			<string>日用品</string>
			<key>BGColor</key>
			<string>[UIColor colorWithRed:23/255.0f green:148/255.0f blue:231/255.0f alpha:1]</string>
		</dict>
		<dict>
			<key>IconName</key>
			<string>cosmetic</string>
			<key>DisplayName</key>
			<string>化妆品</string>
			<key>BGColor</key>
			<string>[UIColor colorWithRed:74/255.0f green:23/255.0f blue:231/255.0f alpha:1]</string>
		</dict>
		<dict>
			<key>IconName</key>
			<string>other</string>
			<key>DisplayName</key>
			<string>其他</string>
			<key>BGColor</key>
			<string>[UIColor colorWithRed:231/255.0f green:23/255.0f blue:182/255.0f alpha:1]</string>
		</dict>
	</array>
	<key>incomeArray</key>
	<array>
		<dict>
			<key>IconName</key>
			<string>salary</string>
			<key>DisplayName</key>
			<string>工资</string>
			<key>BGColor</key>
			<string>[UIColor colorWithRed:13/255.0f green:165/255.0f blue:82/255.0f alpha:1]</string>
		</dict>
		<dict>
			<key>IconName</key>
			<string>bonus</string>
			<key>DisplayName</key>
			<string>奖金</string>
			<key>BGColor</key>
			<string>[UIColor colorWithRed:204/255.0f green:48/255.0f blue:27/255.0f alpha:1]</string>
		</dict>
		<dict>
			<key>IconName</key>
			<string>pocket money</string>
			<key>DisplayName</key>
			<string>零花钱</string>
			<key>BGColor</key>
			<string>[UIColor colorWithRed:27/255.0f green:181/255.0f blue:204/255.0f alpha:1]</string>
		</dict>
		<dict>
			<key>IconName</key>
			<string>investment</string>
			<key>DisplayName</key>
			<string>投资</string>
			<key>BGColor</key>
			<string>[UIColor colorWithRed:201/255.0f green:198/255.0f blue:40/255.0f alpha:1]</string>
		</dict>
		<dict>
			<key>IconName</key>
			<string>red packet</string>
			<key>DisplayName</key>
			<string>红包</string>
			<key>BGColor</key>
			<string>[UIColor colorWithRed:23/255.0f green:120/255.0f blue:231/255.0f alpha:1]</string>
		</dict>
		<dict>
			<key>IconName</key>
			<string>other</string>
			<key>DisplayName</key>
			<string>其他</string>
			<key>BGColor</key>
			<string>[UIColor colorWithRed:231/255.0f green:23/255.0f blue:182/255.0f alpha:1]</string>
		</dict>
	</array>
</dict>
</plist>
