<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>spendArray</key>
	<array>
		<dict>
			<key>IconName</key>
			<string>travel</string>
			<key>DisplayName</key>
			<string>旅行</string>
			<key>BGColor</key>
			<string>E71717</string>
		</dict>
		<dict>
			<key>IconName</key>
			<string>traffic</string>
			<key>DisplayName</key>
			<string>交通</string>
			<key>BGColor</key>
			<string>177BE7</string>
		</dict>
		<dict>
			<key>IconName</key>
			<string>eat</string>
			<key>DisplayName</key>
			<string>吃饭</string>
			<key>BGColor</key>
			<string>DEE717</string>
		</dict>
		<dict>
			<key>IconName</key>
			<string>shop</string>
			<key>DisplayName</key>
			<string>购物</string>
			<key>BGColor</key>
			<string>E75117</string>
		</dict>
		<dict>
			<key>IconName</key>
			<string>play</string>
			<key>DisplayName</key>
			<string>娱乐</string>
			<key>BGColor</key>
			<string>4E0DA5</string>
		</dict>
		<dict>
			<key>IconName</key>
			<string>medical</string>
			<key>DisplayName</key>
			<string>药品</string>
			<key>BGColor</key>
			<string>9617E7</string>
		</dict>
		<dict>
			<key>IconName</key>
			<string>rent</string>
			<key>DisplayName</key>
			<string>房租</string>
			<key>BGColor</key>
			<string>DB17E7</string>
		</dict>
		<dict>
			<key>IconName</key>
			<string>school</string>
			<key>DisplayName</key>
			<string>教育</string>
			<key>BGColor</key>
			<string>5EE717</string>
		</dict>
		<dict>
			<key>IconName</key>
			<string>snack</string>
			<key>DisplayName</key>
			<string>零食</string>
			<key>BGColor</key>
			<string>EC8655</string>
		</dict>
		<dict>
			<key>IconName</key>
			<string>taobao</string>
			<key>DisplayName</key>
			<string>网购</string>
			<key>BGColor</key>
			<string>9C205D</string>
		</dict>
		<dict>
			<key>IconName</key>
			<string>clothes</string>
			<key>DisplayName</key>
			<string>衣服</string>
			<key>BGColor</key>
			<string>7117E7</string>
		</dict>
		<dict>
			<key>IconName</key>
			<string>fruit</string>
			<key>DisplayName</key>
			<string>水果</string>
			<key>BGColor</key>
			<string>3C96EC</string>
		</dict>
		<dict>
			<key>IconName</key>
			<string>utilities</string>
			<key>DisplayName</key>
			<string>水电费</string>
			<key>BGColor</key>
			<string>E76C17</string>
		</dict>
		<dict>
			<key>IconName</key>
			<string>daily</string>
			<key>DisplayName</key>
			<string>日用品</string>
			<key>BGColor</key>
			<string>1794E7</string>
		</dict>
		<dict>
			<key>IconName</key>
			<string>cosmetic</string>
			<key>DisplayName</key>
			<string>化妆品</string>
			<key>BGColor</key>
			<string>4A17E7</string>
		</dict>
		<dict>
			<key>IconName</key>
			<string>other</string>
			<key>DisplayName</key>
			<string>其他</string>
			<key>BGColor</key>
			<string>E717B6</string>
		</dict>
	</array>
	<key>incomeArray</key>
	<array>
		<dict>
			<key>IconName</key>
			<string>salary</string>
			<key>DisplayName</key>
			<string>工资</string>
			<key>BGColor</key>
			<string>0DA552</string>
		</dict>
		<dict>
			<key>IconName</key>
			<string>bonus</string>
			<key>DisplayName</key>
			<string>奖金</string>
			<key>BGColor</key>
			<string>CC301B</string>
		</dict>
		<dict>
			<key>IconName</key>
			<string>pocket money</string>
			<key>DisplayName</key>
			<string>零花钱</string>
			<key>BGColor</key>
			<string>1BB5CC</string>
		</dict>
		<dict>
			<key>IconName</key>
			<string>investment</string>
			<key>DisplayName</key>
			<string>投资</string>
			<key>BGColor</key>
			<string>C9C628</string>
		</dict>
		<dict>
			<key>IconName</key>
			<string>red packet</string>
			<key>DisplayName</key>
			<string>红包</string>
			<key>BGColor</key>
			<string>1778E7</string>
		</dict>
		<dict>
			<key>IconName</key>
			<string>other</string>
			<key>DisplayName</key>
			<string>其他</string>
			<key>BGColor</key>
			<string>E717B6</string>
		</dict>
	</array>
</dict>
</plist>
